@import url("root.css");
@import url("reset.css");

/*=======================
        COMMONS
=======================*/

#container {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
}

#container .background-color {
    z-index: -1;
    position: absolute;
    display: block;
    background:
        linear-gradient(180deg, var(--blue-light) 10%, transparent 100%),
        radial-gradient(circle 4px, rgba(255, 255, 255, 0.3) 40%, transparent 41%) 0 50% / 40px 40px repeat,
        linear-gradient(180deg, var(--blue-light) 0%, var(--blue-dark) 100%);
    clip-path: polygon(0 20vh, 100% 80vh, 100% 100%, 0 100%);
    width: 100%;
    height: 100%;
}
#container .background-gif {
    z-index: -2;
    position: absolute;
    display: block;
    background: url(/src/assets/img/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

section {
    width: 100%;
    min-height: 100vh;
}

.card {
    background-color: var(--orange);
    padding: 2rem;
}
.card .card-title {
    text-align: center;
    font-size: 5rem;
}
.card .card-title .sub-text {
    font-size: 2.3rem;
}
.card .card-description {
    color: var(--neutral);
    font-size: 1.5rem;
    margin-top: 3rem;
}
.card .card-figure {
    position: absolute;
}
.card .card-figure .figure-front {
    position: absolute;
}
.card .card-figure .figure-back {
    position: absolute;
    z-index: -1;
}

.border-drawn {
    border: 10px solid transparent;
    border-width: 1rem;
    border-style: solid;
    border-image: url(/src/assets/img/border1.png) 15;
    border-image-outset: .4rem;
}

.disabled {
    display: none !important;
}

/*=======================
          HERO
=======================*/

#hero .card {
    width: 32rem;
    height: 25rem;
    margin: 8rem 0 0 3rem;
}
#hero .figure-front {
    transform: translate(8rem, -14rem);
    width: 40rem;
}
#hero .figure-back {
    transform: translate(8rem, -14rem);
    width: 40rem;
}

/*=======================
          ABOUT
=======================*/
.skill-container {
    position: absolute;
}
.skill-button {
    color: rgb(71, 61, 61);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.skill-button:hover {
    color: black;
}
.skill-button .skill-image {
    font-size: 8rem;
    margin-bottom: 1rem;
}
.skill-button .skill-text {
    font-size: 1.2rem;
}
.skill-popup {
    z-index: 2;
    position: absolute;
    width: 40vw;
    height: 10rem;
}

#creativity-skills .skill-button {
    transform: translate(10vw, 14vh) rotate(-10deg);
}
#creativity-skills .skill-popup {
    transform: translate(30vw, -40%);
}
#interpersonal-skills .skill-button {
    transform: translate(70vw, 30vh) rotate(10deg);
}
#interpersonal-skills .skill-popup {
    transform: translate(20vw, 0%);
}
#technical-skills .skill-button {
    transform: translate(28vw, 60vh) rotate(-5deg);
}
#technical-skills .skill-popup {
    transform: translate(48vw, 110%);
}

.skill-popup p {
    font-size: 1.4rem;
}
.skill-popup .popup-exit-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
}
.skill-popup .popup-exit-button i {
    font-size: 3rem;
}

/*=======================
        PORTFOLIO
=======================*/
.portfolio-images-container {
    width: 80vw;
    margin: 1rem auto;
    columns: 30rem;
    column-gap: 1.5rem;
}
.portfolio-image {
    position: relative;
    margin-bottom: 1rem;
}
.portfolio-image img{
    width: 100%;
    border-radius: 1rem;    
}
.portfolio-image img:hover {
    filter: brightness(70%);
}
.portfolio-image::after {
    content: '';
    position: absolute;
    pointer-events: none;
    inset: 0;
    opacity: 0;
    border-width: 1rem;
    border: .5rem solid transparent;
    border-image: url(/src/assets/img/border1.png) 15;
    border-image-outset: .4rem;
}
.portfolio-image:hover::after {
    opacity: 1;
}

.featured-hud {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured-hud .featured-image {
    position: fixed;
    height: 95%;
}
.featured-hud .featured-bg {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}

/*=======================
     RESPONSIVIDADE
=======================*/
    /*HERO*/
@media (width < 54rem) {
    #hero .card {
        width: 42vw;
        height: auto;
        padding: 1rem;
        margin: 12rem 1rem;
    }
    #hero .card-title {
        font-size: 6vw;
    }
    #hero .card-title .sub-text {
        font-size: 4vw;
    }
    #hero .card-description {
        font-size: 3vw;
    }
    #hero .figure-front {
        transform: translate(14vw, -4rem);
        width: 50vw;
    }
    #hero .figure-back {
        transform: translate(14vw, -4rem);
        width: 50vw;
    }
}
@media (width < 28rem) {
    #hero .card {
        width: 50vw;
        padding: .5rem;
    }
    #hero .card-description {
        font-size: 4vw;
    }
    #hero .figure-front {
        transform: translate(25vw, 0);
        width: 50vw;
    }
    #hero .figure-back {
        transform: translate(25vw, 0);
        width: 50vw;
    }
}

    /*ABOUT*/
@media (width < 70rem) {
    #creativity-skills .skill-button {
        transform: translate(10vw, 6vh) rotate(-10deg);
    }
    #interpersonal-skills .skill-button {
        transform: translate(10vw, 40vh) rotate(10deg);
    }
    #technical-skills .skill-button {
        transform: translate(10vw, 72vh) rotate(-5deg);
    }
}
@media (width < 65rem) {
    .skill-popup {
        top: 50vh;
        left: 48vw;
        width: 70%;
        height: auto;
        transform: translate(-50%, -50%) !important;
    }
}
@media (width < 30rem) {
    .skill-button .skill-image {
        font-size: 5rem;
    }
    .skill-button .skill-text {
        font-size: 1rem;
    }
}

    /*PORTFOLIO*/
@media (width < 30rem) {
    .portfolio-images-container {
        columns: 8rem;
        column-gap: .5rem;
    }
    .portfolio-image {
        position: relative;
        margin-bottom: .5rem;
        width: 100%;
    }
}