:root {
    --blue-light: #4F7FFF;
    --blue: #285CF3;
    --blue-dark: #1E46B8;

    --orange-light: #FFA867;
    --orange: #F38128;
    --orange-dark: #C4601E;

    --white: #FFFFFF;
    --neutral-light: #F9F9F9;
    --neutral: #313131;
    --neutral-dark: #1A1A1A;
}

@font-face {
    font-family: WildWords;
    src: url(/src/assets/font/WildWords_Roman.ttf);
}